/* Reset de margem e padding para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do título */
#titulo {
    font-family: sans-serif;
    color: #1f056f;
    margin-left: 4%;
} 

/* Estilo do body */
body {
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(109, 185, 197);
    padding: 2% 2% 0 2%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* Estilo comum para input, select, textarea e button */
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #6e9ec9;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 100%;   
}

/* Estilo do grupo */
.grupo:before, .grupo:after {
    display: table;
    content: "";
}

.grupo:after {
    clear: both;
}

/* Estilo do campo */
.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #6e9ec9;
    display: block;
}

.campo input::placeholder {
    background-color: #eeeeee75;
    font-size: 0.75em;
}

/* Estilo específico para campos dentro de um fieldset do grupo */
fieldset.grupo .campo {
    float: none;
    margin-right: 0;
}

/* Estilo para input, select, textarea de campo */
.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
    display: block;
    padding: 0.2em;
    border: 1px solid #050707;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
}

.campo textarea {
    display: block;
}

.campo select option {
    padding-right: 1em;
}

/* Estilo do foco para input, select, textarea de campo */
.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: rgb(202, 222, 238);
}

/* Estilo do aviso */
#aviso {
    font-size: 0.8em;
}

/* Estilo do botão */
.botao {
    font-size: 1.2em;
    background: #7bb6c5;
    border:  0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    width: 100%;
}

/* Estilo do hover para o botão */
.botao:hover {
    background: #010581;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Estilo do cursor para botão e select */
.botao, select {
    cursor: pointer;
}

/* Media queries para tornar o layout mais responsivo */
@media only screen and (min-width: 600px) {
    body {
        padding: 2%;
    }

    .campo {
        width: 48%;
        float: left;
        margin-right: 2%;
    }

    .campo:last-child {
        margin-right: 0;
    }
}
